<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="pscm" version="1">
    <about>
        <name>PlasticSCM plugin</name>
        <version>0.1</version>
        <target-go-version>15.1.0</target-go-version>
        <description>Plugin that polls a Plastic SCM repository</description>
        <vendor>
            <name>Obinna</name>
            <url>https://github.com/ohbeanz/pscm4go</url>
        </vendor>
    </about>
</go-plugin>